{% extends 'layout.html' %}
{% block title %}{% endblock %}

{% block more_css %}{% endblock %}
{% block body %}
{% include 'slide-nav.html' %}
<div class="row"> 
 <div class="col-md-4">
  {# START Quiz panel #}
  <div class="panel panel-primary">
   <div class="panel-heading">
    <h3 class="panel-title"><a name="quiz"></a> Badge Quiz</h3>
   </div>
   <div class="panel-body">
    {# START Q1 #}
    <div class="form-group">
    <label>True or False: Annotations provide additional information about a Work, Instance, or Authority</label>
    <div data-bind="foreach: questionOneItems">
     <label class="radio-inline" >
      <input type="radio" name="q1" data-bind="attr: { value:id },
                                               checked: $root.selected">
      <span data-bind="text: name"></span>
     </label>
    </div>
  
    {# END Q1 #}
    </div>
   </div>
  {# END Quiz panel #}
  </div>
 </div>
 <div class="col-md-8 jumbotron">
  <h1>{{ current.label }}</h1>
  <p class="lead">{{ current.description }}</p>
</div>
</div>




<div class="row">
 <div class="col-md-8 col-md-offset-4">
  <div class="btn-group">
   <a class="btn btn-success btn-lg"
      href="/calcon-2013-session/"
      title="Home">
    <span class="glyphicon glyphicon-home"></span>
   </a>
   <a class="btn btn-primary btn-lg"
      href="/calcon-2013-session/rda/aacr2-is-to-rda">
    Next:  RDA &amp; BIBFRAME
    <span class="glyphicon glyphicon-hand-right"></span>   </a>
  </div> 
 </div>
</div>

{% endblock %}

{% block more_js %}
<script>
 var AnnotationsQuizViewModel = function() {
  var self = this;

  self.questionOneItems = [
   {id: 1, name: "True", selected: false},
   {id: 2, name: "False", selected: false}
  ];
 
 }
 ko.applyBindings(new AnnotationsQuizViewModel());
</script>
{% endblock %}
