{% extends 'layout.html' %}
{% block title %}Authorities{% endblock %}

{% block more_css %}{% endblock %}
{% block body %}
{% include 'slide-nav.html' %}
<div class="row"> 
 <div class="col-md-8 jumbotron">
  <h1>Authorities</h1>
  <p class="lead">{{ current.description }}</p>
 </div>
 <div class="col-md-4">
  <blockquote class="bibframe-slide">
  Authorities [in BIBFRAME] are not designed to compete or replace existing 
  authority efforts but rather provide a common, light weight abstraction layer
  over various different Web based authority efforts to make them even more 
  effective. 
  <small>From page 11 of
   <cite title=" Bibliographic Framework as a Web of Data: Linked Data Model and Supporting Services"><a href="/calcon-2013-session/resources.html#bibliographic-framework-as-a-web-of-data">Bibliographic Framework as a Web of Data: Linked Data Model and Supporting Services</a></cite></small>
  </blockquote>
 </div>
</div>

<div class="row">
 <div class="col-md-4">
  <div class="panel panel-default">
   <div class="panel-heading">
    <h3 class="panel-title">Authority/Agent/Person</h3>
   </div>
   <div class="panel-body">
    <img src="{{ url_for('static', filename='img/user_48x48.png') }}" class="pull-left">
    <p>
     A BIBFRAME class that represents a human being. A Person entity defines a 
     type of authority relationship with a Creative Work or Instance
    </p>    
   </div>
  </div>
 </div>
 <div class="col-md-4">
  {# START Topic panel #}
  <div class="panel panel-info">
   <div class="panel-heading">
    <h3 class="panel-title">Authority/Topic</h3>
   </div>
   <div class="panel-body">
   <img src="{{ url_for('static', filename='img/idea_48x48.png') }}" class="pull-left"> 
    A BIBFRAME class representing a specific topic that has an authority 
    relationship with either a Creative Work or Instance
   </div>
  {# END Topic panel #}
  </div>
 </div>
 <div class="col-md-4">
  {# START Temporal Concept panel #}
  <div class="panel panel-warning">
   <div class="panel-heading">
    <h3 class="panel-title">Authority/TemporalConcept</h3>
   </div>
   <div class="panel-body">
    <img src="{{ url_for('static', filename='img/calendar_48x48.png') }}" class="pull-right">
    A BIBFRAME class that represents a single event, a time-span, or epoch that defines a
    temporal authority relationship with a Creative Work or Instance.
   </div>
  {# END Temporal Concept panel #}
  </div>
 </div>
</div>

<div class="row">
 <div class="col-md-4">
  {# START Place panel #}
  <div class="panel panel-success">
   <div class="panel-heading">
    <h3 class="panel-title">Authority/Place</h3>
   </div>
   <div class="panel-body">
   <img src="{{ url_for('static', filename='img/maps_48x48.png') }}" class="pull-right"> 
    A BIBFRAME class that represents a geographic location. A Place entity 
    defines a geographic authority relationship with a Creative Work or Instance
   </div>
  {# END Place panel #}
  </div>
  {# START Organization panel #}
  <div class="panel panel-default">
   <div class="panel-heading">
    <h3 class="panel-title">Authority/Agent/Organization</h3>
   </div>
   <div class="panel-body">
    <img src="{{ url_for('static', filename='img/bank_48x48.png') }}" class="pull-left"> 
    A BIBFRAME class that represents a human organization including corporations, 
    government entities, non-profit, religious, or any other structured group. An 
    Organization class defines an authority relationship with with a Creative Work or Instance
   </div>
  {# END Organization panel #}
  </div>
 </div>

  <div class="col-md-8">
  {# START Quiz panel #}
  <div class="panel panel-primary">
   <div class="panel-heading">
    <h3 class="panel-title"><a name="quiz"></a> Badge Quiz</h3>
   </div>
   <div class="panel-body">
   <form class="form" id="badge-quiz">
   <input type="hidden" name="slide" value="authorities">

    {# START Q1 #}
    <div class="form-group">
     <label>Choose all of the correct statements from the list below:</label>
      <div data-bind="foreach: questionOneItems">
       <div class="checkbox">
        <label>
         <input type="checkbox" name="q1" data-bind="attr: { value:id }, 
                                                     checked: $root.selected">
         <span data-bind="text: name"></span>
        </label>
       </div> 
      </div>
    {# END Q1 #}
    </div>
    {# START Q2 #}
    <div class="form-group">
      <label>True or False: A publisher is an example of BIBFRAME Organization</label>
     <div data-bind="foreach: questionTwoItems">
       <label class="radio-inline">
         <input type="radio" name="q2" data-bind="attr: { value: id },
                                                  checked: $root.selected"  >
        <span data-bind="text: name"></span>
       </label>
     </div>    
    {# END Q2 #}
    </div>
    {# START Q3 #}
    <div class="form-group">
      <label>Select the correct statement</label>
       <div data-bind="foreach: questionThreeItems">
        <div class="radio">    
         <label>
           <input type="radio" name="q3" data-bind="attr: { value: id },
                                                   checked: $root.selected"  >
          <span data-bind="text: name"></span>
         </label>
        </div>      
       </div>
    {# END Q3 #}
    </div>
    {# START Q4 #}
    <div class="form-group">
     <label>Select all levels of Authorities that may exist</label>
     <div data-bind="foreach: questionFourItems">
       <div class="checkbox">
        <label>
         <input type="checkbox" name="q4" data-bind="attr: { value:id }, 
                                                     checked: $root.selected">
         <span data-bind="text: name"></span>
        </label>
       </div> 
     </div>
    {# END Q4 #}
    </div>
 
   </form>
   {% include 'grade-register.html' %}
   </div>
  {# END Quiz panel #}
  </div>
 </div>
</div>
{% endblock %}

{% block more_js %}
<script>
 var authoritiesQuizViewModel = function() {
  var self = this;

 {% include 'quiz.js' %}    
    
  self.questionOneItems = [
   { id: 1, name: "BIBFRAME Authorities are similar but are more inclusive than MARC21 authorities", selected: false},
   { id: 2, name: "Person, Organization, and Family are all subclasses of Agent class", selected: false},
   { id: 3, name: "Family is an example of a Topic Authority", selected: false},
   { id: 4, name: "Authorities provide an important authentication function in BIBFRAME", selected: false}
  ];

  self.questionTwoItems = [
   {id: 1, name: "True", selected: false},
   {id: 2, name: "False", selected: false}
  ];

  self.questionThreeItems = [
   {id: 1, name: "All BIBFRAME Authorities must be under authority control", selected: false},
   {id: 2, name: "A timestamp could not a TemporalConcept Authority", selected: false},
   {id: 3, name: "A BIBFRAME Authority can be an access point to the resource", selected: false}
  ]

  self.questionFourItems = [
   { id: 1, name: "Local"},
   { id: 2, name: "Regional"},
   { id: 3, name: "National"},
   { id: 4, name: "International"}
  ];


 }
 ko.applyBindings(new authoritiesQuizViewModel());
</script>
{% endblock %}
