{% extends 'layout.html' %}
{% block title %}{% endblock %}

{% block more_css %}{% endblock %}
{% block body %}
{% include 'slide-nav.html' %}
<div class="row"> 
 <div class="col-md-8 jumbotron">
  <h1>Authorities</h1>
  <p class="lead">{{ current.description }}</p>
 </div>
 <div class="col-md-4">
  <blockquote class="bibframe-slide">
  Authorities [in BIBFRAME] are not designed to compete or replace existing 
  authority efforts but rather provide a common, light weight abstraction layer
  over various different Web based authority efforts to make them even more 
  effective. 
  <small>From page 11 of
   <cite title=" Bibliographic Framework as a Web of Data: Linked Data Model and Supporting Services"><a href="/calcon-2013-session/resources.html#bibliographic-framework-as-a-web-of-data">Bibliographic Framework as a Web of Data: Linked Data Model and Supporting Services</a></cite></small>
  </blockquote>
 </div>
</div>

<div class="row">
 <div class="col-md-4">
  <div class="panel panel-default">
   <div class="panel-heading">
    <h3 class="panel-title">Authority/Agent/Person</h3>
   </div>
   <div class="panel-body">
    <img src="{{ url_for('static', filename='img/user_48x48.png') }}">

   </div>
  </div>
 </div>
 <div class="col-md-4">
  {# START Topic panel #}
  <div class="panel panel-info">
   <div class="panel-heading">
    <h3 class="panel-title">Authority/Topic</h3>
   </div>
   <div class="panel-body">
   <img src="{{ url_for('static', filename='img/idea_48x48.png') }}"> 

   </div>
  {# END Topic panel #}
  </div>
 </div>
 <div class="col-md-4">
  {# START Temporal Concept panel #}
  <div class="panel panel-warning">
   <div class="panel-heading">
    <h3 class="panel-title">Authority/TemporalConcept</h3>
   </div>
   <div class="panel-body">
    <img src="{{ url_for('static', filename='img/calendar_48x48.png') }}" class="pull-right">

   </div>
  {# END Temporal Concept panel #}
  </div>
 </div>
</div>

<div class="row">
 <div class="col-md-4">
  {# START Place panel #}
  <div class="panel panel-success">
   <div class="panel-heading">
    <h3 class="panel-title">Authority/Place</h3>
   </div>
   <div class="panel-body">
   <img src="{{ url_for('static', filename='img/maps_48x48.png') }}"> 

   </div>
  {# END Place panel #}
  </div>
 </div>

 <div class="col-md-4">
  {# START Organization panel #}
  <div class="panel panel-default">
   <div class="panel-heading">
    <h3 class="panel-title">Authority/Organization</h3>
   </div>
   <div class="panel-body">
    <img src="{{ url_for('static', filename='img/bank_48x48.png') }}"> 
   </div>
  {# END Organization panel #}
  </div>
 </div>

 <div class="col-md-4">
  {# START Quiz panel #}
  <div class="panel panel-primary">
   <div class="panel-heading">
    <h3 class="panel-title">Badge Quiz</h3>
   </div>
   <div class="panel-body">
   <form class="form" id="badge-quiz">
    {# START Q1 #}
    <div class="form-group">
     <label>Select all correct statements from the list below</label>
      <div data-bind="foreach: questionOneItems">
       <div class="checkbox">
        <label>
         <input type="checkbox" name="q1" data-bind="attr: { value:id }, 
                                                     checked: $root.selected">
         <span data-bind="text: name"></span>
        </label>
       </div> 
      </div>
    {# END Q1 #}
    </div>
   </form>
   </div>
  {# END Quiz panel #}
  </div>
 </div>
</div>
{% endblock %}

{% block more_js %}
<script>
 var authoritiesQuizViewModel = function() {
  var self = this;
  
  self.questionOneItems = [
   { id: 1, name: "BIBFRAME Authorities are similar in concept to MARC21 authorities", selected: false},
   { id: 1, name: "Person, Organization, and Family are all subclasses of Agent class", selected: false},
   { id: 1, name: "Titles are an example of a Topic Authority", selected: false},
   { id: 1, name: "Authorities provide an important authenication function in BIBFRAME", selected: false}
  ];

 }
 ko.applyBindings(new authoritiesQuizViewModel());
</script>
{% endblock %}
