{% extends 'layout.html' %}

{% block body %}
<div class="row">
 <div class="col-md-12 well">
 {% with messages = get_flashed_messages() %}
   {% if messages %}
   <div class="alert alert-block alert-danger fade in">
    <a class="close" data-dismiss="alert" href="#" aria-hidden="true">&times;</a>
    <h3>Message</h3>
    {% for message in messages %}
    <p>{{ message }}</p>
    {% endfor %}
   </div>
   {% endif %}
 {% endwith %}
 {% if user.is_authenticated() %}
  <h2>Your Badge Information</h2>
 {% else %}
  <h1>Earn your Open Badge for this Session!</h1>
 {% endif %}
  <div class="row">
   <div class="col-md-3">
    <img src="{{ url_for('static', filename='img/bibframe-rda-badge.png') }}" class="img-thumbnail"></img>
    <hr>
    <div class="alert">
     <h3>Share your accomplishment</h3>
     <p>
      <a href="http://openbadges.tumblr.com/post/55809369771/how-to-display-your-open-badges-on-your-linkedin">LinkedIn</a> 
     </p>
     <p>
      <a href="#">Twitter</a>
     </p>

    </div>
   </div>
   {% if not user.is_authenticated() %}
   <div class="col-md-8">
     <ol>
       <h2><li>Create an Mozilla Open Badge Backpack Account</li></h2>
       <p class="lead">
        Create an Mozilla Open Badge Backpack Account 
        <a href="http://backpack.openbadges.org/backpack/login">Backpack Account</a>
       </p>
       <h2><li>Register your E-mail</li></h2>
       <div class="alert alert-info" >
        <form class="form-inline" action="/calcon-2013-session/register" method="POST">
         <div class="form-group">
           <label for="email_address">Email address*</label>
           <input type="email" class="form-control" name="email_address"></input>
         </div>
         <div class="form-group">
           <label for="password">Password</label>
           <input type="password" class="form-control" name="password"></input>
          </div>
         <div class="form-group">
           <label for="copy-password">Retype Password</label>
           <input type="password" class="form-control" name="copy-password"></input>
           <button type="submit" class="btn btn-default">Sign-up</button>
           <p>
            <small>
             * Your email address will only be used to issue your badge for this
               session and nothing else.
            </small>
           </p>
         </div>
        </form>
       </div>
       <h2>
        <li>Fulfill Badge Critera</li>
       </h2>
       <div class="panel">
         <div class="panel-body">
         <p>
          Each slide in this presentation has a badge quiz, you need at least 20 points out of 30 to 
          earn your <strong>CALCON 2013 BIBFRAME and RDA</strong> badge.
         </p>
           <ul>
            {% for slide in slides.bibframe %}
            <li><a href="/calcon-2013-session/bibframe/{{ slide.name }}#quiz">{{ slide.label }} Badge Quiz</a></li>
            {% endfor %}
           </ul>
         </div>
       </div>
     </ol>
   </div>
   {% else %}
   <div class="col-md-8">
     <dl>
       <dt>Registered email:</dt>
       <dd><span data-bind="visible: !editEmailmode(), text: emailValue, click: editEmail">&nbsp;</span>
           <input type="email" class="form-control" 
                  data-bind="visible: editEmailmode, value: emailValue , hasFocus: editEmailmode">
       </dd>
     </dl>
     {% if user.get_badge().has_key('issuedOn') %}
      <p class="lead">Your badge was issued on {{ user.get_badge().get('issuedOn') }} and is available at 
       <a href="http://tuttdemo.coloradocollege.edu/calcon-2013-session/badge/{{ user.get_badge().get('uid') }}-bibframe-rda-badge.json">
        http://tuttdemo.coloradocollege.edu/calcon-2013-session/badge/{{ user.get_badge().get('uid') }}-bibframe-rda-badge.json</a>.
      {% else %}
      {% if user.get_badge().get('score') > 19 %}
       <button data-bind="click: issueBadge"
               class="btn btn-lg btn-success">Congratulations! Click here to issue your badge</button>
      {% endif %}
     {% endif %}
     <table class="table table-striped table-bordered">
      <thead>
        <tr>
         <th>Taken on</th>
         <th>Question 1</th>
         <th>Question 2</th>
         <th>Question 3</th>
         <th>Question 4</th>
         <th>Total</th>
        </tr>
      </thead>
      <tbody>
      {% for row in user.get_badge().get('quiz_results') %}
       <tr>
         <th>Slide</th>
         <td colspan="6">{{ row.label }}</td>
       </tr>
       <tr>
         <td>{{ row.taken }}</td>
         <td>{{ row.q1 }}</td>
         <td>{{ row.q2 }}</td>
         <td>{{ row.q3 }}</td>
         <td>{{ row.q4 }}</td>
         <td>{{ row.total }}</td>
       </tr>
      {% endfor %}
      </tbody>
     </table>      
   {% endif %}
  </div>
 </div>
</div>
{% endblock %}

{% block more_js %}
<script src="https://backpack.openbadges.org/issuer.js"></script>
<script>
var BadgeManagerViewModel = function() {
  var self=this;
 
  {% if user.is_authenticated() %} 
  self.editEmailmode = ko.observable(false);
  self.emailValue = ko.observable("{{ user.email }}");
  self.editEmail = function() { self.editEmailmode(true); }

  self.issueBadge = function() {
   var data = '';
   $.ajax({
     data: data,
     type: 'POST',
     url: '/calcon-2013-session/badge/issue',
     success: function(response) {      
       var rda_badge_url = response['badge-url'];
       OpenBadges.issue([rda_badge_url], 
         function(errors, successes) {
          //alert(errors, successes); 
       });
      }
   });
  }
 {% endif %}
}
ko.applyBindings(new BadgeManagerViewModel());
</script>
{% endblock %}
