{% extends 'layout.html' %}

{% block more_css %}
<style>
 #bf-rlsp-animation {
  background-color: rgb(255, 255, 255);

 }

#bf-rlsp-animation { width: 600px;
                     height: 600px;
                     background-color: rgb( 255, 255, 255); }
</style>
{% endblock %}

{% block body %}
{% include 'slide-nav.html' %}

<div class="row">
 <div class="col-md-10 jumbotron">
  <h1>{{ current.label }}</h1>
  <p class="lead">{{ current.description }}</p>
 </div>
 <div class="col-md-2">
  <a class="btn btn-primary btn-lg"
          data-toggle="modal"
          href="#badge-quiz-dlg">Badge Quiz!</a>

 </div>
</div>


<div class="row">
 <div class="col-md-12">
  <div class="btn-group">
   <div class="btn-group">
    <button class="btn btn-default btn-lg" data-bind="click: displayAll">Run <span class="glyphicon glyphicon-play"></span></button>
   </div> 
  </div>
  <p></p>
  <div id="bf-rlsp-description" class="well well-sm">
   <h2 data-bind="text: stepTitle"></h2>
   <p data-bind="text: stepDescription" class="lead"></p>
  </div>
  <div id="bf-rlsp-animation"></div>
 </div>

</div>

{# START Badge Quiz Modal #}
<div class="modal fade" id="badge-quiz-dlg">
  {# START modal-dialog #}
  <div class="modal-dialog">
   {# START modal-content #}
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">{{ current.label }} Badge Quiz </h4>
      </div>
      <div class="modal-body">
        <form id="badge-quiz">
        <input type="hidden" name="slide" value="{{ current.name }}">     
        {# START Q1 #}
        <div class="form-group">
         <label>Question One </label> 
         <div data-bind="foreach: questionOneItems">
       <div class="checkbox">
        <label>
         <input type="checkbox" name="q1" data-bind="attr: { value:id }, 
                                                     checked: selected">
         <span data-bind="text: name"></span>
        </label>
       </div> 
        </div>
        {# END Q1 #}
        </div>
       </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    {# END modal-content #}
    </div>
  {# END modal-dialog #}
  </div>
{# END Badge Quiz Modal #}
</div>

<div class
{% endblock %}

{% block more_js %}
<script src="{{ url_for('static', filename='js/svg.min.js') }}"></script>
<script>
 var svgDraw = SVG('bf-rlsp-animation');

 var BIBFRAMEDatastore = function() {


 }

 var Introduction = function() {
  var ala_grp = svgDraw.group();
  var ala = svgDraw.image("{{ url_for('static', filename='img/mobile_64x64.png') }}");
  ala.x(30);
  ala_grp.add(ala);
  var ala_label = svgDraw.text("Aristotle Library Apps").font({ size: 18 });
  ala_label.y(100);
  ala_grp.add(ala_label);
  ala_grp.hide();
  ala_grp.move(30, 50);
  ala_grp.show();
  
  var python_img = svgDraw.image("{{ url_for('static', filename='img/python-logo.gif') }}");
  python_img.hide();
  var django_grp = svgDraw.group();
  var django_img = svgDraw.image("{{ url_for('static', filename='img/django-logo.gif') }}");
  django_img.x(30);
  django_grp.add(django_img);
  django_label = svgDraw.text("Open source Web framework\nPython based").font({ size: 18 });
  django_label.y(100);
  django_grp.add(django_label);
  django_grp.add(django_img).hide();
  ala_grp.animate().move()
}

 var rlspSolo = function() {
  var title = svgDraw.text("Running RLSP in Solo Mode").font({ size: 24 }); 
  title.move(10, 20);
  title.animate().move(130, 20);
  var docket = svgDraw.group();
  var docketImg = svgDraw.image("{{ url_for('static', filename='img/docker-top-logo.png') }}");
  docketImg.click(function() {
   alert("Display Docket");
  });
  docket.add(docketImg);
  docket.animate().move(10, 250).after(
   function() {
     var docket_desc_grp = svgDraw.group();
     var docket_title = svgDraw.text("As a Docker Container").font({ size: 20 }).fill({color:' rgb(0,0,220)'});
     docket_desc_grp.add(docket_title);
     var docket_desc = svgDraw.text(function(add) {
      add.tspan("Download the Redis Library Services Platform Docker container").newLine(),
      add.tspan("Run the RLSP").newLine()
     }); 
     docket_desc.y(30);
     docket_desc_grp.add(docket_desc);
     docket_desc_grp.hide();
     docket_desc_grp.move(110, 245);
     docket_desc_grp.show();
  });
  
 }

 var BIBFRAMEandRLSPViewModal = function() { 
  var self = this;

  self.stepNumber = 1;
  self.stepDescription = ko.observable();
  self.stepTitle = ko.observable();
   {% include 'quiz.js' %}

  self.questionOneItems = [
    {id: 1, name: "BIBFRAME is natively supported in the Redis Library Services Platform", selected: true},
    {id: 2, name: "Redis Library Services Platform is NOT open source", selected: false} 
  ];

  self.displayAll = function() { 
    svgDraw.clear();
    self.stepTitle("");
    self.stepDescription("");
    if(self.stepNumber > 4) {  self.stepNumber = 1; }
    switch(self.stepNumber) {
      case 1:
        self.stepTitle("Introduction to the Redis Library Services Platform")
        var desc = "The Redis Library Services Platform (RLSP) is made up of two projects:";
        desc += "The first, Aristotle Library Apps, is the web interface and front-end to ";
        desc += "the Redis BIBFRAME datastores and Fedora Commons Digital Repository."
        self.stepDescription(desc);
        Introduction()
        setTimeout(function() {
           desc = "Bootstrap, an open-source web framework, provides a mobile first HTML5, ";
           desc += "CSS, and Javascript interface to small, single-purpose apps for use";
           desc += " by library patrons and staff targeting mobile and tablet user-interfaces "
           desc += " with progressive enhancements for full-desktop web browsers and network speeds"; 
           self.stepDescription(desc);
         },
        10000);
        break;

      case 2:
        self.stepTitle("BIBFRAME Datastore Project");
        desc = "The second project of the Redis Library Services Platform is the BIBFRAME";
        desc += " Datastore Project, a collection of redis configuration files and Lua ";
        desc += "server-side scripts including documentation on running Redis as a bibliographic";
        desc += " and operational datastore as single instance or as a cluster of Redis instances.";
        self.stepDescription(desc);
        BIBFRAMEDatastore();
        break;

     


    }
    self.stepNumber += 1;
  }

  self.displayCooperative = function() {
    svgDraw.clear();
    rlspCooperative();
  }

  self.displayFuture = function() {
    svgDraw.clear();
    rlspFuture();
  }

  self.displaySolo = function() {
    svgDraw.clear();
    rlspSolo();
  }
 }
 ko.applyBindings(new BIBFRAMEandRLSPViewModal());
</script>
{% endblock %}
