{% extends 'layout.html' %}

{% block more_css %}
<style>
 #bf-rlsp-animation {
  background-color: rgb(255, 255, 255);

 }

#bf-rlsp-animation { width: 600px;
                     height: 600px;
                     background-color: rgb( 255, 255, 255); }
</style>
{% endblock %}

{% block body %}
{% include 'slide-nav.html' %}

<div class="row">
 <div class="col-md-10 jumbotron"> 
   <div data-bind="visible: showJumbo" > 
    <h1>{{ current.label }}</h1>
    <p class="lead">{{ current.description }}</p>
   </div>
   <div data-bind="visible: animationOn">
    <div id="bf-rlsp-description">
      <h2 data-bind="text: stepTitle"></h2>
      <p data-bind="text: stepDescription" class="lead"></p> 
     </div>
     <div id="bf-rlsp-animation"></div>
    </div> 
 </div>
 <div class="col-md-2">
  
  <a class="btn btn-primary btn-lg"
          data-toggle="modal"
          href="#badge-quiz-dlg">Badge Quiz!</a>

  <p></p>
  <button class="btn btn-default btn-lg" 
    data-bind="click: displayAll">
    Run <span class="glyphicon glyphicon-play"></span>
  </button>
 </div>
 </div>
</div>

</div>
{% endblock %}
{% block more_dlgs %}
{# START Badge Quiz Modal #}
<div class="modal fade" id="badge-quiz-dlg">
  {# START modal-dialog #}
  <div class="modal-dialog">
   {# START modal-content #}
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">{{ current.label }} Badge Quiz </h4>
      </div>
      <div class="modal-body">
        <form id="badge-quiz">
        <input type="hidden" name="slide" value="{{ current.name }}">     
        {# START Q1 #}
        <div class="form-group">
         <label>Please choose all correct statements about the Redis Library Services Platform </label> 
         <div data-bind="foreach: questionOneItems">
       <div class="checkbox">
        <label>
         <input type="checkbox" name="q1" data-bind="attr: { value:id }, 
                                                     checked: selected">
         <span data-bind="text: name"></span>
        </label>
       </div> 
        </div>
        {# END Q1 #}
        </div>
        {# START Q2 #}
        <div class="form-group">
         <label>True or False: The Aristotle Library Apps project also offers a web interface to the Fedora Commons Digital Repository</label>
          <div data-bind="foreach: questionTwoItems">
          <label class="radio-inline">
          <input type="radio" name="q2" data-bind="attr: { value: id },
                                                   checked: $root.selected"  >
          <span data-bind="text: name"></span>
         </label>
        </div>
        {# END Q2 #}
        </div>
        {# START Q2 #}
        <div class="form-group">
         <label>True or False: Redis Library Services Platform needs you for determining its software development path</label>
          <div data-bind="foreach: questionTwoItems">
          <label class="radio-inline">
          <input type="radio" name="q3" data-bind="attr: { value: id },
                                                   checked: $root.selected"  >
          <span data-bind="text: name"></span>
         </label>
        </div>
        {# END Q2 #}
        </div>
       
       </form>
      </div>
      <div class="modal-footer">
        <button type="button" 
                class="btn btn-default" 
                data-dismiss="modal"
                >Close</button>
      {% if user.is_authenticated() %}
        <button type="button" 
                class="btn btn-primary"
                data-bind="click: gradeQuiz">Grade Quiz</button>
      {% endif %}
      </div>
    {# END modal-content #}
    </div>
  {# END modal-dialog #}
  </div>
{# END Badge Quiz Modal #}
</div>

{# START RLSP Display #}
 <div class="modal fade" id="book-rlsp-dlg">
  {# START modal-dialog #}
  <div class="modal-dialog">
   {# START modal-content #}
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" data-bind="text: titleRLSPEntity">Text</h4>
      </div>
      <div class="modal-body">
      <iframe data-bind="attr: { src: jsonRLSPEntity }" height="600" width="450"></iframe>
      </div>
   {# END modal-content #}
   </div>
 {# END modal-dialog #}
 </div> 

 {# END dlg #}
 </div>

</div>
{% endblock %}

{% block more_js %}
<script src="{{ url_for('static', filename='js/svg.min.js') }}"></script>
<script>
 var svgDraw = SVG('bf-rlsp-animation');

 var rlspSolo = function() {
  var title = svgDraw.text("Running RLSP in Solo Mode").font({ size: 24 }); 
  title.move(10, 20);
  title.animate().move(130, 20);
  var docket = svgDraw.group();
  var docketImg = svgDraw.image("{{ url_for('static', filename='img/docker-top-logo.png') }}");
  docketImg.click(function() {
   alert("Display Docket");
  });
  docket.add(docketImg);
  docket.animate().move(10, 250).after(
   function() {
     var docket_desc_grp = svgDraw.group();
     var docket_title = svgDraw.text("As a Docker Container").font({ size: 20 }).fill({color:' rgb(0,0,220)'});
     docket_desc_grp.add(docket_title);
     var docket_desc = svgDraw.text(function(add) {
      add.tspan("Download the Redis Library Services Platform Docker container").newLine(),
      add.tspan("Run the RLSP").newLine()
     }); 
     docket_desc.y(30);
     docket_desc_grp.add(docket_desc);
     docket_desc_grp.hide();
     docket_desc_grp.move(110, 245);
     docket_desc_grp.show();
  });
  
 }

 var BIBFRAMEandRLSPViewModal = function() { 
  var self = this;

  self.stepNumber = 1;
  self.stepDescription = ko.observable();
  self.stepTitle = ko.observable();
  self.animationOn = ko.observable(false);
  self.showJumbo = ko.observable(true);
  self.titleRLSPEntity = ko.observable();
  self.jsonRLSPEntity = ko.observable();

{% if user.is_authenticated() %}  
 self.badgePoints = ko.observable("{{ user.get_badge().get('score') }}");

 self.gradeQuiz = function() {
   $.ajax({
      type: 'POST',
       url: '/calcon-2013-session/grade',
       data: $('#badge-quiz').serialize(),
       success: function(response) {
         if(response['error']) {
           alert("Error " + response['error'])
         } else {
          alert("Graded Quiz " + response['score'] + " out of 4");
          var existing_points = parseInt(self.badgePoints());
          var new_total = existing_points + parseInt(response['score']);
          self.badgePoints(new_total);
          $("#badge-quiz-dlg").modal('hide');
         }
       }
    });
 }
{% endif %}
  self.questionOneItems = [
    {id: 1, name: "BIBFRAME is natively supported in the Redis Library Services Platform", selected: false},
    {id: 2, name: "Redis Library Services Platform is NOT open source", selected: false},
    {id: 3, name: "Aristotle Library Apps is the HTML5 mobile-based user interface  to the Redis Services Platform", selected: false},
    {id: 4, name: "Django and Bootstrap are two open-source projects used in the Aristotle Library Apps project", selected: false}
  ];

  self.questionTwoItems = [
   {id: 1, name: "True"},
   {id: 2, name: "False"}
  ];

  self.questionThreeItems = [
   {id: 1, name: "True"},
   {id: 2, name: "False"}
  ];


  self.displayAll = function() { 
    self.animationOn(true);
    self.showJumbo(false);
    svgDraw.clear();
    self.stepTitle("");
    self.stepDescription("");
    if(self.stepNumber > 3) {  self.stepNumber = 1; }
    switch(self.stepNumber) {
      case 1:
        self.stepTitle("Introduction to the Redis Library Services Platform")
        var desc = "The Redis Library Services Platform (RLSP) is made up of two projects:";
        desc += "The first, Aristotle Library Apps, is the web interface and front-end to ";
        desc += "the Redis BIBFRAME datastores and Fedora Commons Digital Repository."
        self.stepDescription(desc);
        self.Introduction()
        setTimeout(function() {
           desc = "Bootstrap, an open-source web framework, provides a mobile first HTML5, ";
           desc += "CSS, and Javascript interface to small, single-purpose apps for use";
           desc += " by library patrons and staff targeting mobile and tablet user-interfaces "
           desc += " with progressive enhancements for full-desktop web browsers and network speeds"; 
           self.stepDescription(desc);
         },
        6000);
        break;

      case 2:
        self.stepTitle("BIBFRAME Datastore Project");
        desc = "The second project of the Redis Library Services Platform is the BIBFRAME";
        desc += " Datastore Project, a collection of redis configuration files and Lua ";
        desc += "server-side scripts including documentation on running Redis as a bibliographic";
        desc += " and operational datastore as single instance or as a cluster of Redis instances.";
        self.stepDescription(desc);
        self.BIBFRAMEDatastore();
        break;

      case 3:
        self.stepTitle("Next steps for Redis Library Services Platform");
        desc = "The development process of Redis Library Services Platform";
        desc += " follows an iterative Agile pattern where most apps are developed";
        desc += " and functionality added based on the user demand. The design is of ";
        desc += "a pull platform";
        self.stepDescription(desc);
        
        break;

    }
    self.stepNumber += 1;
  }

	 self.BIBFRAMEDatastore = function() {
	   var solo_redis = svgDraw.group();
	   var redis_img = svgDraw.image("{{ url_for('static', filename='img/redis.png') }}");
	   solo_redis.add(redis_img);
	   solo_redis.add(svgDraw.text("Single Redis Datastore").font({ size: 18 }).y(60));
	   solo_redis.move(20,30);
	   book = svgDraw.group();
	   book_img = svgDraw.image("{{ url_for('static', filename='img/publishing_48x48.png') }}");
           book_label = svgDraw.text("bf:Book:20157").font({ size: 18 }).y(90);
	   book.add(book_img);
           book.add(book_label);
	   book.click(function() {
	         self.titleRLSPEntity("bf:Book:20157");
                 $('#book-rlsp-dlg').modal('show');
                 self.jsonRLSPEntity('http://tuttdemo.coloradocollege.edu/apps/discovery/Book/20157/');
           });
           book.hide();
	   creative_work = svgDraw.group();
	   creative_work.add(svgDraw.circle(120).stroke({ color: "rgb(0,200,0)", width: 3 })
	   .fill({ color: "rgb(255,255,255)" }));
	   creative_work.add(svgDraw.image("{{ url_for('static', filename='img/creative_writing_64x64.png') }}"));
	   creative_work.add(svgDraw.text("Creative Works").font({ size: 18 }).y(90));
	   creative_work.move(250, 20);
           all_works = svgDraw.group();
           all_works.add(creative_work);
           all_works.add(book);
	   creative_work.animate().move(220, 60).after(function() {
             book.move(0,150).show();
             book.animate().move(220, 180).after(function() {;
              all_works.animate().y(300).after(function() {
               solo_redis.hide();    
             });
            });
          })
	  }
	  
self.Introduction = function() {
  var ala_grp = svgDraw.group();
  var ala = svgDraw.image("{{ url_for('static', filename='img/programming_64x64.png') }}");
  ala.x(30);
  ala_grp.add(ala);
  var ala_label = svgDraw.text("Aristotle Library Apps").font({ size: 18 });
  ala_label.y(100);
  ala_grp.add(ala_label);
  ala_grp.hide();
  ala_grp.move(30, 50);
  ala_grp.show();
  var mobile_group = svgDraw.group();
  mobile_group.add(svgDraw.image("{{ url_for('static', filename='img/mobile_64x64.png') }}"));
  mobile_group.add(svgDraw.text("Mobile and Tablets").font({ size: 18 }).y(100));
  mobile_group.hide();
  var server_group = svgDraw.group();
  server_group.add(svgDraw.image("{{ url_for('static', filename='img/mobile_64x64.png') }}"));
  server_group.add(svgDraw.image("{{ url_for('static', filename='img/server.png') }}"));
  server_group.add(svgDraw.text("Desktops").font({ size: 18 }).y(100));
  server_group.hide();
 
  ala_stack_grp = svgDraw.group();
  ala_stack_grp.add(svgDraw.image("{{ url_for('static', filename='img/django-logo.gif') }}").move(5,0));
  ala_stack_grp.add(svgDraw.image("{{ url_for('static', filename='img/python-logo.gif') }}").scale(2,2).move(5,20));
  ala_stack_grp.add(svgDraw.image("{{ url_for('static', filename='img/HTML5_Logo_64.png') }}").move(100,5));
  ala_stack_grp.hide();
  fedora_grp = svgDraw.group();
  var fedora_img = svgDraw.image("{{ url_for('static', filename='img/portal-logo.png') }}");
  fedora_img.scale(2,2);
  fedora_grp.add(fedora_img);
  fedora_grp.hide();
  var redis_grp = svgDraw.group();
  var redis_img = svgDraw.image("{{ url_for('static', filename='img/redis.png') }}");
  redis_grp.add(redis_img).hide();
  ala_grp.animate().move(60, 180).after(function() {
    redis_grp.move(20,20).show();
    redis_grp.animate().move(350, 20).after(function() {
     fedora_grp.move(400,0).show();
     fedora_grp.animate().move(50,-20).after(function() {
      var ala2Fedora = svgDraw.line(110, 175, 80, 110).stroke({ width: 5, color: "rgb(255,0,0)" });
      var ala2Redis = svgDraw.line(170, 195, 370, 100).stroke({ width: 5, color: "rgb(180,25,0)" });
      mobile_group.move(50, 600).show();
      mobile_group.animate().move(80, 380).during(function() { 
       server_group.move(350, 600).show();
       server_group.animate().move(330, 380).after(function() {
        ala_stack_grp.show().animate().move(220, 180).after(function() {
         var mobile2ala = svgDraw.line(110, 370, 130, 320).stroke({ width: 5, color: "rgb(0,25,200)" });
         var server2ala = svgDraw.line(390, 370, 160, 310).stroke({ width: 5, color: "rgb(0,25,200)" });

        });
       }
       );
      });
     });
    });
  });
}

 }
 ko.applyBindings(new BIBFRAMEandRLSPViewModal());
</script>
{% endblock %}
