{% extends 'layout.html' %}
{% block title %}{{ current.label }}{% endblock %}

{% block more_css %}
<style>
 .animation { width: 600px; 
              height: 600px; 
              background-color: rgb( 255, 255, 255); }

</style>
{% endblock %}

{% block body %}
{% include 'slide-nav.html' %}
<div class="row"> 
 <div class="col-md-8">
  <div class="jumbotron">
   <h1>{{ current.label }}</h1>
   <p class="lead">
    {{ current.description }}
   </p>
  </div>
  <div class="well well-sm">
   <h3>Relationship to FRBR &amp; Schema.org</h3>
   <p>
    BIBFRAME's Creative Work class is roughly equilivant to 
    FRBR's Work and Expression while being somewhat narrower in scope
    than Schema.org's 
    <a href="http://schema.org/CreativeWork">CreativeWork</a>
   </p>
  </div>
 </div>
 {# START quiz #}
 <div class="col-md-4">
   {# START quiz panel #}
  <div class="panel panel-primary">
   {# START panel heading #}
   <div class="panel-heading">
    <h3 class="panel-title"><a name="quiz"></a> Badge Quiz </h2>


   {# END panel heading #}
   </div>
   {# START panel body #}
   <div class="panel-body">
    <form id="badge-quiz">
    <input type="hidden" name="slide" value="creative-works">
    {# START Q1 #}
    <div class="form-group">
      <label>CreativeWork and LanguageMaterial are examples of:</label>
     <div data-bind="foreach: questionOneItems">
      <div class="radio">    
       <label>
         <input type="radio" name="q1" data-bind="attr: { value: id },
                                                  checked: $root.selected"  >
        <span data-bind="text: name"></span>
       </label>
      </div>      
     </div>
   {# END Q1 #}
   </div>
   {# START Q2 #}
    <div class="form-group">
      <label>True or False: Creative Works class is NOT an ancestor of the Map class</label>
     <div data-bind="foreach: questionTwoItems">
       <label class="radio-inline">
         <input type="radio" name="q2" data-bind="attr: { value: id },
                                                  checked: $root.selected"  >
        <span data-bind="text: name"></span>
       </label>
     </div>
   {# END Q2 #}
   </div>
   {# START Q3 #}
    <div class="form-group">
      <label>Choose all Langauge Material subclasses</label>  
      <div data-bind="foreach: questionThreeItems">
       <div class="checkbox">
        <label>
         <input type="checkbox" name="q3" data-bind="attr: { value:id }, 
                                                     checked: $root.selected">
         <span data-bind="text: name"></span>
        </label>
       </div> 
      </div>
   {# END Q3 #}
    </div>
   {% include 'grade-register.html' %}
   </form> 
   {# END panel body #}
   </div>
  {# END quiz panel #}
  </div>
 {# END quiz #}
 </div>
</div>

<hr>

{# START Creative Work Animation Row #}
<div class="row">
 {# START Animation Controls #}
 <div class="col-md-3">
  <div class="btn-group">
   <button 
      data-bind="click: startAnimation"
      class="btn btn-success">
    <span class="glyphicon glyphicon-play"></span>
   </button>
   <button 
      data-bind="click: stopAnimation"
      class="btn btn-danger">
    <span class="glyphicon glyphicon-stop"></span>
   </button>
   <button
      data-bind="click: restartAnimation"
      class="btn btn-warning">
    <span class="glyphicon glyphicon-refresh"></span>
   </button>
  </div>
  <p></p>
  {# START Explaination Panel  #}
  <div class="panel panel-warning">
    <div class="panel-heading">
     <h3 class="panel-title">About <span data-bind="text: stepNumberView"></span> of 5</h3>
    </div>
    <div class="panel-body" data-bind="text: explainStep"></div>
  {# END Explaination Panel  #}
  </div>
 {# END Animation Controls #}
 </div> 
 {# START Animation Canvas #}
 <div class="col-md-9">
  <div id="creativeWorkAnimation" class="animation"></div> 
 {# END Animation Canvas #}
 </div>
{# END Creative Work Animation Row #}
</div>
{% endblock %}

{% block more_js %}
{# <script src="/static/js/three.min.js"></script> #}
<script src="{{ url_for('static', filename='js/svg.min.js') }}"></script>
<script>

var CreativeWorkViewModel = function() {
  var self = this;
  self.stepNumber = 1;
  self.stepNumberView = ko.observable(0);
  self.explainStep = ko.observable();
  self.svgDraw = SVG('creativeWorkAnimation');

  {% if user.is_authenticated() %}
  self.badgePoints = ko.observable("{{ user.get_badge().get('score') }}");
  {% endif %}

  // Quiz related 
  self.questionOneItems = [
    { id: 1, name: "BIBFRAME Annotations", selected: false},   
    { id: 2, name: "Abstract parent classes", selected: false},   
    { id: 3, name: "Contain few unique properties", selected: false},   
    { id: 4, name: "Are directly represented in BIBFRAME systems", selected: false},   
  ];

  self.questionTwoItems = [
    { id: 1, name: "True", selected: false},   
    { id: 2, name: "False", selected: false}   
  ];

  self.questionThreeItems = [
    { id: 1, name: "Article", selected: false}, 
    { id: 2, name: "Nonmusical Audio", selected: false}, 
    { id: 3, name: "Dissertation", selected: false}, 
    { id: 4, name: "Newspaper", selected: false}, 
    { id: 5, name: "Book", selected: false} 
  ];

  self.gradeQuiz = function() {
   $.ajax({
      type: 'POST',
       url: '/calcon-2013-session/grade',
       data: $('#badge-quiz').serialize(),
       success: function(response) {
         if(response['error']) {
           alert("Error " + response['error'])
         } else {
          alert("Graded Quiz " + response['score'] + " out of 3");
         }
       }
    });
  }

  // Animation Steps
  self.showArticle = function() {
    self.article = self.svgDraw.group();
    var articleImg = self.svgDraw.image("{{ url_for('static', filename='img/document_48x48.png') }}");
    var articleLabel = self.svgDraw.text("Article").font({ 'font-weight': 'bold' });
    articleLabel.y(50);
    self.article.add(articleImg);
    self.article.add(articleLabel);
    self.article.hide();
    self.explainStep("Article is another subclass of the Language Materials class");
    self.svgDraw.line(110, 380, 110, 470).stroke({ width: 3 }).animate()
    .after(function() {
      var label = self.svgDraw.text("subclass");
      label.center(155, 455);
      self.svgDraw.line(110, 470, 400, 470).stroke({ width: 3 }).animate()
      .during(function() {
        self.article.move(110, 320).front().show();
        self.article.animate().move(110, 420)
        .after(function() {
          self.article.animate().move(325, 420);
        });

      });

    });
  }

  self.showCreativeWork = function() {
    self.creativeWork = self.svgDraw.group();
    var creativeWorkRect = self.svgDraw.rect(250, 50);
    creativeWorkRect.stroke({ color: 'rgb(0,0,255)', width: 1 })
    .fill({ color: 'rgb(0, 0, 155)', opacity: 0.6});
    creativeWorkLabel = self.svgDraw.text("Creative Work")
    creativeWorkLabel.font({ size: 18, family: 'Verdana'}).fill({ color: 'rgb(255,255,255)'});
    creativeWorkLabel.move(15, 10); 
    self.creativeWork.add(creativeWorkRect);
    self.creativeWork.add(creativeWorkLabel);
    self.creativeWork.move(175, 100); 
    self.explainStep("The base class for BIBFRAME Resources is CreativeWork");
    self.creativeWorkText = self.svgDraw.text(function(add) {
       add.tspan("abbreviatedTitle - Abbreviated title").newLine()
       add.tspan("associatedAgent - Associated Agent").newLine()
       add.tspan("authorizedAccessPoint - Authorized access point").newLine()
       add.tspan("class - classification").newLine()
       add.tspan("class-ddc - DDC Classification").newLine()
       add.tspan("class-lcc - LCC Classification").newLine()
       add.tspan("class-udc - UDC Classification").newLine()
       add.tspan("contentCoverage - Coverage of Content").newLine()
       add.tspan("contentNature - Nature of Content").newLine()
       add.tspan("creditsNote - Credits note").newLine()
       add.tspan("description - Description of resource").newLine()
       add.tspan("expressionOf - Expression of").newLine()
       add.tspan("geographicSubject - Geographic Subject").newLine()
       add.tspan("hasAnnotation - Has Annotation").newLine()
       add.tspan("hasExpression - Expressed as").newLine()
       add.tspan("hasInstance - Instantiated as").newLine()
       add.tspan("identifier - Identifier").newLine()
       add.tspan("identifierLabel - Identifier Label").newLine()
       add.tspan("index - Has index").newLine()
       add.tspan("intendedAudience - Intended Audience").newLine()
       add.tspan("isan - International Standard Audiovisual Number").newLine()
       add.tspan("issn-l - linking International Standard Serial Number").newLine()
       add.tspan("istc - International Standard Text Code").newLine()
       add.tspan("iswc - International Standard Musical Work Code").newLine()
       add.tspan("label - Label for resource").newLine()
       add.tspan("language - Language").newLine()
       add.tspan("languageOfWork - Language of work").newLine()
       add.tspan("mediumOfMusic - Medium of music").newLine()
       add.tspan("note - Note").newLine()
       add.tspan("performerNote - Performer note").newLine()
       add.tspan("primaryLanguage - Language").newLine()
       add.tspan("relatedResource - Related resource").newLine()
       add.tspan("relatedWork - Related work").newLine()
       add.tspan("subject - Subject").newLine()
       add.tspan("summary - Summary").newLine()
       add.tspan("uniformTitle - Controlled title").newLine()
    });
    self.creativeWorkText.hide();
    self.creativeWork.animate().move(25, 25).during(function() {
      self.creativeWorkText.move(150, -800);
      self.creativeWorkText.show();
      self.creativeWorkText.animate({ duration: 3000, ease: '<', speed: 0.5 }).y(100)
      .after(function() { 
        self.creativeWorkText.animate({delay: 3500}).y(800);  
      });

    });
/*    var basePropsRect = self.svgDraw.rect(50, 50)
    basePropsRect.fill({ color: 'rgb(255,255,255)' }).stroke({ color: 'rgb(255,0,0)',
                                                               width: 1});
    basePropsRect.move(180, 110);
    basePropsRect.animate({ ease: '>', delay: 750}).scale(2, .5); */

  }

  self.showLangMaterial = function() {
   self.explainStep("Language Material is an abstract subclass of Creative Work");
   // Language Material Group
   self.langMaterial = self.svgDraw.group();
   var langMaterialRect = self.svgDraw.rect(175, 50).fill( { color: 'rgb(175, 0, 0)' });
   
   langMaterialRect.stroke({ color: 'rgb(255, 0, 0)', width: 2 })
   .opacity(1.0);
   var langMaterialLabel = self.svgDraw.text("Language Material").fill({ color: 'rgb(255,255,255)' });
   langMaterialLabel.font({ size: 18 }).move(10, 10);
   self.langMaterial.add(langMaterialRect);
   self.langMaterial.add(langMaterialLabel);
   self.langMaterial.hide();
   // Book Group
   self.book = self.svgDraw.group();
   var bookImage = self.svgDraw.image("{{ url_for('static', filename='img/publishing_48x48.png') }}");
   var bookLabel = self.svgDraw.text("Book");
   bookLabel.y(40).font({ 'font-weight': 'bold' });
   self.book.add(bookImage);
   self.book.add(bookLabel);
   self.book.hide();
   self.svgDraw.line(45, 220, 45, 300).stroke({ width: 3 }).animate()
   .after(function() {
     self.svgDraw.line(45, 300, 90, 300).stroke({ width: 3 });
     self.langMaterial.move(25, 35);
     self.langMaterial.show();
     self.langMaterial.animate({ ease: '<' }).move(35, 270)
     .after(function() {
       self.langMaterial.animate({ ease: '<' }).move(90, 270).after(function() {
         var label = self.svgDraw.text("subclass");
         label.center(155, 360);
         self.svgDraw.line(110, 320, 110, 380).stroke({ width: 3 }).animate()
         .after(function() {
           self.svgDraw.line(110, 380, 400, 380).stroke({ width: 3 }).animate()
           .after(function() {
             self.explainStep(self.explainStep() + "\n\nBook is a subclass of the Language Material class");
             self.book.move(110, 320).front().show();
             self.book.animate({ ease: '<' }).move(110, 320)
             .after(function() {
               self.book.animate({ ease: '<' }).move(325, 320)
             });
           });
         });
      });
     })
   });

  }

  self.showManuscript = function() {
    self.creativeWorkText.remove()
    self.explainStep("Manuscript is a subclass of Creative Work");
    self.manuscript = self.svgDraw.group();
    var manuscriptImg = self.svgDraw.image("{{ url_for('static', filename='img/creative_writing_48x48.png') }}");
    var manuscriptText = self.svgDraw.text("Manuscript");
    manuscriptText.y(40).font({ 'font-weight': 'bold' });
    self.manuscript.add(manuscriptImg);
    self.manuscript.add(manuscriptText);
    self.manuscript.hide();
    self.svgDraw.line(45, 75, 45, 150).stroke({ width: 3 }).animate()
    .after(function() {
      var label = self.svgDraw.text("subclass");
      label.center(90, 130);
      self.svgDraw.line(45, 150, 400, 150).stroke({ width: 3 });
      self.manuscript.move(25, 25);
      self.manuscript.show();
      self.manuscript.front();
      self.manuscript.animate({ ease: '<' }).move(35, 80).after(
        function() {
         self.manuscript.animate({ ease: '<' }).move(325, 80);
        });
    });
    /*
    self.creativeWork.animate().move(50, 50).after(
      function() {
        self.manuscript.move(60, 60);
        self.manuscript.show();
        self.manuscript.animate({ ease: '<', delay: 1500}).move(50, 150).after(
          function() {
            self.svgDraw.line(65, 120, 50, 145).stroke({ width: 1 });
          });
      }
    );*/
  }

  self.showMovingImage = function() {
    self.explainStep("Moving Image is another subclass of Creative Work");
    self.movingImage = self.svgDraw.group();
    var movingImageImg = self.svgDraw.image("{{ url_for('static', filename='img/cinema_48x48.png') }}");
    var movingImageText = self.svgDraw.text("Moving Image");
    movingImageText.y(50).font({ 'font-weight': 'bold' });
    self.movingImage.add(movingImageImg);
    self.movingImage.add(movingImageText);
    self.movingImage.hide();
    self.svgDraw.line(45, 150, 45, 220).stroke({ width: 3 }).animate()
    .after(function() {
      var label = self.svgDraw.text("subclass");
      label.center(90, 200);
      self.svgDraw.line(45, 220, 400, 220).stroke({ width: 3 });
      self.movingImage.move(25, 25);
      self.movingImage.show().front();
      self.movingImage.animate({ ease: '<' }).move(35, 185)
      .after(function() {
        self.movingImage.animate({ ease: '<' }).move(325, 185);
      });

    });
  }

  // Animation Controls
  self.restartAnimation = function() {
   self.svgDraw.clear();
   self.explainStep("");
   self.stepNumber = 1;

  }

  self.startAnimation = function() {
   if(self.stepNumber > 5) {
     self.restartAnimation(); // Resets animation to the beginning
   }
   switch(self.stepNumber) {
     case 1:
       self.showCreativeWork();
       break;

     case 2:
       self.showManuscript();
       break;

     case 3:
       self.showMovingImage();
       break;

     case 4:
       self.showLangMaterial();
       break;
 
     case 5:
       self.showArticle();
       break;
    }
    self.stepNumberView(self.stepNumber);
    self.stepNumber += 1;
  }

  self.stopAnimation = function() {
   alert('stopping animation');
  }


}

ko.applyBindings(new CreativeWorkViewModel());
</script>
{% endblock %}
