{% extends 'layout.html' %}
{% block title %}{% endblock %}

{% block more_css %}{% endblock %}
{% block body %}
{% include 'slide-nav.html' %}
<div class="row"> 
 <div class="col-md-12 jumbotron">
  <h1>History of BIBFRAME</h1>
  <p class="lead">The BIBFRAME specification is relative new having started with an announcement by the Library of Congress
   in 2011. Since then, a lot of work has gone into developing a more robust vocabulary along with experimental support 
   implementation by the Library of Congress, OCLC, and others including Colorado College.
 </div>
</div>
<hr>
<div class="row">
 {% include 'history-quiz.html' %}
{# START History Timeline #}
 <div class="col-md-6">
   <table class="table table-striped">
     <tr>
       <th>October 31, 2011</th>
       <td>Library of Congress press release,
           <a href="http://www.loc.gov/bibframe/news/framework-103111.html">A Bibliographic Framework for the Digital Age</a>
       </td>
     </tr>
     <tr>
      <th>May 13, 2012</th>
      <td>
       Library of Congress statement, 
       <a href="http://www.loc.gov/bibframe/news/framework-051311.html">
         Transforming our Bibliographic Framework: A Statement from the Library of Congress</a>
      </td>
     </tr>
     <tr>
      <th>May 22, 2012</th>
      <td>
       <a href="http://www.loc.gov/bibframe/news/framework-051311.html">Announcement</a> on a modeling initiative 
       from the Library of Congress
      </td>
     </tr>
     <tr>
      <th>Spring/Summer 2012</th>
      <td>Article by Kevin Ford, 
       <a href="http://www.niso.org/publications/isq/2012/v24no2-3/ford/">LC's Bibliographic Framework Initiative and the Attractiveness of Linked Data</a>
      </td>
     </tr>
     <tr>
      <th>November 21, 2012</th>
      <td>
       Library of Congress releases a BIBFRAME primer, 
       <a href=" ">Bibliographic Framework as a Web of Data: Linked Data Model and Supporting Services</a>
      </td>
     </tr>
     <tr>
      <th>January 26-28, 2013</th>
      <td>
       ALA Midwinter Conference <a href="http://www.loc.gov/bibframe/presentations/">Presentations</a>
      </td>
     </tr>
     <tr>
      <th>January 27, 2013</th>
      <td>Release of the <a href="http://bibframe.org/">BIBFRAME.org</a> website.</td>
     </tr>
     <tr>
      <th>February 12, 2013</th>
      <td>Presentation at Code4Lib 2013,  
          <a href="http://tuttdemo.coloradocollege.edu/code4lib/">Evolving Towards a Consortium BIBFRAME Redis Datastore</a>
      </td>
     </tr>
     <tr>
      <th>June 2013</th>
      <td>Working paper by Carol Jean Godby at OCLC Research 
       <a href="http://www.oclc.org/content/dam/research/publications/library/2013/2013-05.pdf">
        The Relationship between BIBFRAME and the Schema.org 'Bib Extensions' Model: A Working Paper</a> 
       </a>
      </td>
     </tr> 
     <tr>
      <th>June 29-July 1, 2013</th>
      <td>Various presentation at ALA Annual Conference in Chicago, IL</td>
     </tr>
   </table>
 {# END History Timeline #}
 </div>
</div>
{% endblock %}

{% block more_js %}
<script>
function HistoryQuizViewModel() {
  var self = this; 

  {% if user.is_authenticated() %}   
  self.badgePoints = ko.observable("{{ user.get_badge().get('score') }}");
  {% endif %} 

  self.questionOneItems = [
    { id: 1, name: "2007", selected: false},
    { id: 2, name: "1999", selected: false},
    { id: 3, name: "2011", selected: false},
    { id: 4, name: "2013", selected: false}
  ];
  self.questionTwoItems = [
    { id: 1, name: 'FRBR', selected: false},
    { id: 2, name: 'MARC21', selected: false},
    { id: 3, name: 'Schema.org', selected: false},
    { id: 4, name: 'MODS', selected: false}
  ];
  self.questionThreeItems = [
    { id: 1, name: 'True', selected:false },
    { id: 0, name: 'False', selected:false }

  ];

  self.gradeQuiz = function() {
    $.ajax({
      type: 'POST',
       url: '/calcon-2013-session/grade',
       data: $('#badge-quiz').serialize(),
       success: function(response) {
         if(response['error']) {
           alert("Error " + response['error'])
         } else {
          alert("Graded Quiz " + response['score'] + " out of 3");

         }
       }
    });
  }
}

ko.applyBindings(new HistoryQuizViewModel());
</script>
{% endblock %}
