{% extends 'layout.html' %}

{% block body %}
<div class="jumbotron" >
  <img src="{{ url_for('static', filename='img/calcon-2013-logo.png') }}" style="float: left">
  <h2 class="text-muted">CALCON 2013 Session</h2>
  <h1>BIBFRAME &amp; RDA</h1>
   <p class="lead">
    The Library of Congress Bibliographic Framework Initiative released a new vocabulary and framework for
    replacing the venerated MARC21 standard with a new vocabulary called BIBFRAME. </p>
    <p><a class="btn btn-lg btn-success" 
          href="/calcon-2013-session/bibframe/{{ slides.bibframe.0.name }}">
       What is BIBFRAME? <span class="glyphicon glyphicon-play-circle"></span>
       </a>
    </p>
    <p>
     <a class="btn btn-lg btn-primary" 
        href="/calcon-2013-session/rda/{{ slides.rda.0.name }}">
       How is BIBFRAME related to RDA? 
       <span class="glyphicon glyphicon-play-circle"></span>
     </a>
   </p>
    <p><a class="btn btn-lg btn-info" 
        href="/calcon-2013-session/badge.html">
         <img class="img-thumbnail"
              src="{{ url_for('static', filename='img/bibframe-rda-badge.png') }}" 
              style="width: 48px; height: 48px" > Earn your Open Badge!</a></p>
    <p class="pull-right">
       <a href="http://openbadges.org/"><img src="{{ url_for('static', filename='img/OpenBadges_Insignia_EarnOur.png') }}"></a> </p>
</div>

<div class="row marketing">
 <div class="col-lg-6">
   <div class="well well-sm bibframe-slide">
    <h3>What is BIBFRAME?</h3>
    {% for slide in slides.bibframe %}
     <h4>{{ slide.label }}</h4>
     {% if slide.description %}<p>{{ slide.description }}</p>{% else %}
      <p>consectetur ac, vestibulum at eros. Cras mattis consectetur purus sit amet fermentum.</p>
     {% endif %}
    {% endfor %}
   </div>
 </div>

 <div class="col-lg-6">
   <div class="well well-sm rda-slide">
    <h3>How is BIBFRAME related to RDA?</h3>
    {% for slide in slides.rda %}
     <h4>{{ slide.label }}</h4>
     {% if slide.description %}<p>{{ slide.description }}</p>{% else %}
     <p>Donec id elit non mi porta gravida at eget metus. Maecenas faucibus mollis interdum.</p>
     {% endif %}
    {% endfor %}
   </div>

 </div>
</div>
{% endblock %}
