<div class="row">
 <div class="col-md-12">
  <div class="btn-group pull-left">
   <a href="{{ last_slide.url }}" 
      class="btn btn-lg btn-default"
      {% if not last_slide %}
      disabled="disabled"
      {% endif %} 
     > 
    <span class="glyphicon glyphicon-backward"></span>
   </a>
   <button type="button" class="btn btn-lg btn-primary" disabled="disabled">
    {{ current.label }}
   </button>
   <a class="btn btn-lg btn-default"
      href="{{ next_slide.url}}" 
 {% if not next_slide %}disabled="disabled"{% endif %}>
    <span class="glyphicon glyphicon-forward"></span>
   </a>
   </div>
  </div>
  {% if user.is_authenticated() %}
  <div class="btn-group pull-right">
   <button class="btn btn-lg 
    {% if badge.get('score') <= 10 %}btn-danger{% endif %}
    {% if badge.get('score') > 10 and badge.get('score') <= 25%}btn-warning{% endif %}
    {% if badge.get('score') > 25 %}btn-success{% endif %}">
    <span class="glyphicon glyphicon-dashboard"></span>
    {{ badge.get('score') }}/30
   </button>
      
  </div>
  {% endif %}
</div>
<br>
