{% extends 'layout.html' %}
{% block title %}{% endblock %}

{% block more_css %}{% endblock %}
{% block body %}
{% include 'slide-nav.html' %}
<div class="row"> 
  <div class="col-md-12 jumbotron"><h1>BIBFRAME Vocabulary Overview</h1>
  <p class="lead">{{ current.description }}</p>
  </div>
</div>

<div class="row">
  {# start core bibframe #}
  <div class="col-md-7">
   <div class="alert alert-success">
   <h3>Creative Work</h3>
   <p>A resource reflecting a conceptual essence of the cataloging resource. 
    (source: <a href="/metadata-day-2013/resources.html#bibframe-vocab">bibframe.org</a>)
   </p>
   <p>
    BIBFRAME provides specific types of Creative Works, such as Book, Serial, Article, 
    Manuscript, MovingImage, NonmusicalAudio, Musical Audios.
   </p>
   </div>
   <div class="alert alert-info">
    <h3>Instance</h3>
    <p>A resource reflecting an individual, material embodiment of the Work. 
     (source: <a href="/metadata-day-2013/resources.html#bibframe-vocab">bibframe.org</a>)
    </p>
   </div>

   <div class="alert alert-danger">
    <h3>Authority</h3>
    <p>A resource reflecting key authority concepts that have defined 
       relationships reflected in the Work and Instance. 
     (source: <a href="/metadata-day-2013/resources.html#bibframe-vocab">bibframe.org</a>)
    </p>
   </div>
   <div class="alert alert-warning">
    <h3>Annotation</h3>
    <p>A resource that adds additional information to or about other BIBFRAME resources 
       when knowing 'who' annotated it is important.
      (source: <a href="/metadata-day-2013/resources.html#bibframe-vocab">bibframe.org</a>)
    </p>
   </div>
  {# END core bibframe #}
  </div>
 <div class="col-md-5">  
  {# START Quiz Panel #}
  <div class="panel panel-primary">
   <div class="panel-heading">
    <h3 class="panel-title"><a name="quiz"></a> Badge Quiz </h2>
   </div>
   <div class="panel-body">
   <form id="badge-quiz">
   <input type="hidden" name="slide" value="vocab-overview">
   {# START Q1 #}
   <div class="form-group">
      <label>Select all Creative Work subclasses</label>
      <div data-bind="foreach: questionOneItems">
       <div class="checkbox">
        <label>
         <input type="checkbox" name="q1" data-bind="attr: { value:id }, 
                                                     checked: $root.selected">
         <span data-bind="text: name"></span>
        </label>
       </div> 
      </div>
   {# END Q1 #}
   </div>
   {# START Q2 #}
   <div class="form-group">
      <label>Which of the following statements are correct:</label>
      <div data-bind="foreach: questionTwoItems">
       <div class="checkbox">
        <label>
         <input type="checkbox" name="q2" data-bind="attr: { value:id }, 
                                                     checked: $root.selected">
         <span data-bind="text: name"></span>
        </label>
       </div> 
   {# END Q2 #}
   </div>
   {# START Q3 #}
   <div class="form-group">
    <label>Which of the following statements is true?</label>
    <div data-bind="foreach: questionThreeItems">
    <div class="radio">    
     <label>
       <input type="radio" name="q3" data-bind="attr: { value: id },
                                                checked: $root.selected"  >
       <span data-bind="text: name"></span>
      </label>
     </div>
   {# END Q3 #}
   </div> 
   <div class="form-group">
     <div class="btn-group">
      <a href="#" 
         class="btn btn-danger btn-sm"
         data-bind="click: gradeQuiz">Grade</a>
      <button type="reset"
         class="btn btn-warning btn-sm">Reset</button>
     </div>
   </div>
   </form>
   </div>
  {# END Quiz Panel #}
  </div>
 </div>
</div>
{% endblock %}

{% block more_js %}
<script>
function VocabQuizViewModel() {
  var self = this; 

  self.gradeQuiz = function() {
   $.ajax({
      type: 'POST',
       url: '/calcon-2013-session/grade',
       data: $('#badge-quiz').serialize(),
       success: function(response) {
         if(response['error']) {
           alert("Error " + response['error'])
         } else {
          alert("Graded Quiz " + response['score'] + " out of 3");
         }
       }
    });
  }

  self.questionOneItems = [
    { id: 1, name: "Manuscript", selected: false},
    { id: 2, name: "Book", selected: false},
    { id: 3, name: "Globe", selected: false},
    { id: 4, name: "CoverArt", selected: false}
  ];

  self.questionTwoItems = [
   { id: 1, 
     name: "All Creative Works have at most a single Instance", 
     selected: false},
   { id: 2, 
     name: "An Instance can have multiple Annotations", 
     selected: false},
   { id: 3, 
     name: "Person, Organization, Topic, and Place are all Authority subclasses", 
     selected: false},
   { id: 4,
     name: "All Authorities apply exclusively to Creative Works",
     selected: false}
  ];

  self.questionThreeItems = [
   { id: 1,
     name: "Reviews, Authorities, and Creative Works are top-level BIBFRAME classes",
     selected: false},
   { id: 2,
     name: "BIBFRAME attempts to model bibliographic relationships in MARC21 using Linked Data principles",
     selected: false},
   { id: 3,
     name: "BIBFRAME directly supports FRBR Work, Expression, Manifestation, and Item",
     selected: false}

  ];
}
ko.applyBindings(new VocabQuizViewModel());
</script>
{% endblock %}
